/* Palette CSS HEX */
/* --big-dip-oruby: #a63446ff;
--baby-powder: #fbfef9ff;
--sapphire-blue: #0c6291ff;
--black: #000004ff;
--pansy-purple: #7e1946ff; */

/* Navbar Edits */
.black-btn {
    margin-left: 70%;
}
@media screen and (max-width: 991px) {
    .black-btn {
        margin-left: 0;
    }
}

/*Portfolio section*/
#portfolio {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
img {
    height: 100%;
    width: 100%;
    border-radius: 20%;
    vertical-align: middle;
    transition: all 0.5s ease-in-out;
}

.item-wrap {
    position: relative;
    height: 600px;
    width: 400px;
    padding: 20px;
    margin: 20%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.folio-item-table {
    display: table;
    width: 100%;
    height: 100%;
}
.folio-item-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
    left: -100%;
}
@media only screen and (max-width: 1024px) {
    .folio-title {
        font-size: 3.1rem;
    }
}
.folio-title {
    /* color: #FFFFFF; */
    font-size: 3.3rem;
    padding: 0 3rem;
    margin-bottom: 0;
}
.folio-types {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: "poppins-regular", sans-serif;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    /* color: rgba(255, 255, 255, 0.6); */
}

/*Modal*/
.mfp-hide {
    display: none !important;
}
.popup-modal {
    max-width: 550px;
    background: #FFFFFF;
    position: relative;
    margin: 0 auto;
}
.popup-modal .media {
    position: relative;
}
.popup-modal img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}
.popup-modal .description-box {
    padding: 1.8rem 3.6rem 3rem;
}
.popup-modal .description-box h4 {
    font-family: "poppins-bold", sans-serif;
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin-bottom: .6rem;
}
.popup-modal .description-box p {
    font-family: "poppins-regular", sans-serif;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 12px;
}
.popup-modal .categories {
    font-family: "poppins-bold", sans-serif;
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    display: block;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
.popup-modal .link-box {
    width: 100%;
    overflow: hidden;
    background: #000000;
}
.popup-modal .link-box a:first-child {
    border-right: 1px solid rgba(200, 200, 200, 0.1);
}
.popup-modal .link-box a {
    font-family: "poppins-bold", sans-serif;
    font-size: 1.2rem;
    line-height: 6rem;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    display: block;
    text-align: center;
    float: left;
    width: 50%;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}