@import url("https://fonts.googleapis.com/css2?family=Poiret+One&amp;family=Varta:wght@300;400;600;700&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");
@import url("https://fonts.googleapis.com/css?family=Rochester");

html {
    scroll-behavior: smooth;
}  
body {
    background-color: rgba(0,0,0,1);
    font-weight:600;
    text-align:center !important;
    color: white;
    font-family: 'Anonymous Pro';
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poiret One", cursive;
    font-weight: bolder;
}

a{
    font-family: 'Space Mono', sans-serif;
    color: white;
    text-decoration: none;
}

a:hover{
    color: #b91258;
    text-decoration: none;
    font-size: larger;
}

.cursive {
    font-family: 'Rochester';
    color: #b91258;
    font-size: 72px;
    text-shadow: 4px 4px 4px #aaa;
}

.cursive:hover,
.cursive:visited{
    color: #b91258;
}
/* Navbar */
.navbar-header {
    position: fixed !important;
    background-color: #111 !important;
    width: 100%;
    text-transform: uppercase;
    padding-left: 25%;
}
.navbar-collapse {
    flex-grow: unset;
}
.navbar-toggler {
    background-color: black;
}
.hoverable{
    background:none !important;
    position:relative;
    box-shadow: 0 0 1px rgba(19, 19, 19, 0);
    transition-duration: .3s;
    transition-property:transform;
    margin-left: 30px;
}
.hoverable:before{
    position: fixed !important;
    pointer-events: none;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:100%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}
.hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
    color: #b91258;
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
}
@keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
}
.bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
}

/*Main section*/
@media screen and (max-width: 991px) {
    .main-section {
        min-height: auto;
        padding-top: 40px;
    }
}
.main-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 90vh;
    padding: 20px 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
}
/*progress ring*/
#container { margin: 0%; }

#circle { position: relative; width: 100%; ; overflow: hidden; }

#circle text { font-size: 16px; font-weight: bold; }

#circle svg { position: absolute; left: 0; top: 0; width: 650px; height: 650px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}

/*Round Image*/
.round-img {
    border-radius: 50%;
    height: 400px;
  }

/*Second main section*/
.dot {
    height: 200px;
    width: 200px;
    background: linear-gradient(135deg, #a58220 0%,#b91258 100%);
    border-radius: 50%;
    display: inline-block;
  }
.dot:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.square{
        width: 100px;
        height: 100px;
        background-color: none;
        border:solid white;
        position: relative;
        animation-name: example;
        animation-duration: 3s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
}
.triangle-left {
	width: 0;
	height: 0;
	border-top: 60px solid transparent;
	border-right: 120px solid white;
    border-bottom: 60px solid transparent;
    margin-top: 0;
    margin-bottom: 100px;
    margin-left: 100px;
}
  @keyframes example {
    0%   {border-color:white; left:0px; top:0px;}
    25%  {border-color:#a58220; left:100px; top:0px;}
    50%  {border-color:#b91258; left:100px; top:100px;}
    75%  {border-color:white; left:0px; top:100px;}
    100% {border-color:#a58220; left:0px; top:0px;}
  }
.content-main {
    padding: 10px;
    margin: 50px;
    width: 100%;
}
.col-left {
    align-items: left;
}

/*Footer contact-info*/
@media screen and (max-width: 991px) {
    .contact-section {
        min-height: auto;
        padding-top: 40px;
    }
}
.contact-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    padding: 20px 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    color: #111;
    text-align: center;
}

.contact-section a {
    color: #a58220;
}

.contact-section a:hover {
    color: #b91258;
}

@media screen and (max-width: 991px) {
    .w-container {
        max-width: 728px;
    }
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}
.section__title--contact {
    margin-bottom: 10px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 40px;
    font-weight: 200;
}
.section__title, .section__title--contact {
    -ms-grid-row-align: center;
    line-height: 70px;
}
.email-link-wrapper {
    position: relative;
    max-width: 380px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
}
.social-wrapper {
    margin-top: 100px;
}
.social-wrapper-title {
    margin-bottom: 50px;
}

.social-style {
    width: 20px;
    margin: 20px;
    color: #a58220;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

 .footer_bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 266px;
}